/* You don't really have to touch this style.css file. Most of the styling of the canvas is controlled via the sketch.js */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  color: white;
  background-color: black;
  text-align: center;
  display: block;
  z-index: 100;
}

p{
  color: white;
  background-color: black;
  text-align: center;
  display: block;
  z-index: 100;
}